@model OrdirectWebsite.BestellingViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Bestellingen</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedGerecht)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.bestellingDetailViewModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
